.trusted{
    padding: 116px 0 120px;
}

.trusted__title-block{
    text-align: center;
    margin-bottom: 76px;
}

.trusted__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.trusted__item,
.trusted__item-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.trusted__item{
    width: 23%;
}

.trusted__item-name{
    margin: 18px 0 28px;
    font-size: calc(var(--fs-2-lvl) + 3px);
    font-weight: 400;
}

.trusted__item-info{
    font-size: calc(var(--fs-3-lvl) + 2px);
    color: var(--sub-text-color);
    line-height: 28px;
}