.subscribe > .container{
    padding-top: 120px;
    padding-bottom: 120px;
}

.subscribe__body{
    flex-direction: column;
    background: var(--active-color);
    padding: 96px 150px 112px;
    box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.18);
}

.subscribe__title-block{
    text-align: center;
    width: 58%;
}

.subscribe__title,
.subscribe__title-block{
    margin-bottom: 50px;
}

.subscribe__title-block > span{
    line-height: 30px;
}

.subscribe__title::before{
    background: var(--main-bg-color);
}

.subscribe__form-block{
    width: 100%;
}

.subscribe__form-body{
    display: flex;
    gap: 16px;
}

.subscribe__form-body * {
    height: 50px;
}

.subscribe__form-body > input{
    width: 82%;
    padding: 34px 20px;
    font-size: calc(var(--fs-3-lvl) + 1px);
    outline: none;
    border: none;
}

.subscribe__form-body > button{
    width: 40%;
    padding: 34px 20px;
    font-size: calc(var(--fs-3-lvl) + 1px);
    font-family: "Inter";
    color: var(--white-color);
    background: var(--main-bg-color);
    border: none;
    cursor: pointer;
}

.subscribe__form-block > form{
    width: 100%;
}


.subscribe__form-body > button:focus,
.subscribe__form-body > input:focus{
    border: 2px solid aqua;
}

.subscribe__form-body > button:active{
    border: 2px solid aqua;
}