.footer{
    padding: 95px 0 130px;
    background: var(--main-bg-color);
    position: relative;
}

.footer * {
    color: var(--white-color);
}

.footer__body{
    display: flex;
    gap: 85px;
    justify-content: space-between;
}

.footer__logo-links{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 12px;
}

.footer__logo-link{
    width: 55px;
    height: 55px;
    border: 1px solid var(--active-color);
}

.footer__logo-link > a{
    width: 100%;
    height: 100%;
}

.footer__logo-link > a > img{
    fill: white;
}

.footer__lists-block{
    display: flex;
    flex-wrap: wrap;
    gap: 106px;
}

.footer__list{
    padding-left: 10px;
}

.footer__item{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.footer__list-title{
    display: inline-block;
    letter-spacing: .33px;
    font-family: "Cardo";
    font-size: calc(var(--fs-2-lvl) + 3px);
    margin-bottom: 24px;
}

.footer__item-points{
    display: flex;
    align-items: center;
    gap: 3px;
}

.footer__item-point{
    position: relative;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: var(--active-color);
}

.footer__item-point::before{
    position: absolute;
    content: '';
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: var(--main-bg-color);
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.footer__list-link{
    font-size: calc(var(--fs-3-lvl) + 1px);
    color: var(--sec-text-color);
    white-space: nowrap;

}

.footer__text-block{
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    bottom: 24px;
}

.footer__list-block:last-child > ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 72%;
}

.footer__list-block:last-child > ul > li a{
    width: 240px;
    white-space: normal;
}

.footer__list-block:last-child > ul > li span{
    white-space: nowrap;
    font-family: "Cardo";
    font-size: calc(var(--fs-3-lvl) + 1px);
    letter-spacing: .4px;
    width: 75px;
}

.footer__list-block:last-child > ul > li{
    align-items: flex-start;
    gap: 28px;
}

.footer__text{
    color: var(--sec-text-color);
}

.footer__logo-link > a:hover{
    box-shadow: 0 0 7px var(--active-color);
}

@media screen and (max-width: 1440px) { 
    .footer__body{
        justify-content: flex-start;
    }
}