.header{
    height: var(--header-height);
}
.header__body{
    position: fixed;
    width: 100%;
    height: var(--header-height);
    background: var(--main-bg-color);
    z-index: 10;
    /* box-shadow: 0px 3px 15px rgba(19, 17, 100, 0.15); */
}

.header__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
}

.header__mobile-navber-list{
    display: none;
}

.header__logo-block{
    display: flex;
}
.header__logo-list{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 35px;
}

.header__navbar-list{
    display: flex;
    width: 56%;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.header__navbar-list a{
    color: var(--header-link-color);
    font-size: var(--fs-3-lvl);
}

.header__navbar-item--active > a{
    color: var(--active-color);
}

.header__navbar-item{
    position: relative;
    width: initial;
    white-space: nowrap;
}

.header__navbar-item > a:hover{
    color: var(--active-color);
}

.header__navbar-item:nth-child(4){margin-left: 14px;}

.header__navbar-item > a{letter-spacing: .2px;}

.header__navbar-item button{
    font-size: calc(var(--fs-3-lvl) + 2px);
    letter-spacing: .6px;
    white-space: nowrap;
    background: var(--active-color);
    padding: 18px 52px;
}

.header__logo-item{
    background: var(--white-color);
    width: 45px;
    height: 45px;
}

.header__logo-item > a{
    width: 100%;
    height: 100%;
}

.header__burger-block{
    display: none;
}

.header__burger{
    position: relative;
    display: block;
    width: 42px;
    height: 4px;
    background: var(--active-color);
}

.header__burger::before,
.header__burger::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: var(--active-color);
    top: 0;
    left: 0;
}

.header__burger::before{
    transform: translateY(-300%);
}

.header__burger::after{
    transform: translateY(300%);
}