.comments{
    padding: 130px 0;
}

.comments__body{
    display: flex;
    align-items: center;
    gap: 70px;
}

.comments__title-block{
    width: 35%;
    padding-top: 20px;
}

.comments__title{
    margin-bottom: 54px;
}

.comments__text{
    font-size: calc(var(--fs-3-lvl) + 2px);
    color: var(--sub-text-color);
    line-height: 34px;
    margin-bottom: 22px;
}

.comments__list{
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.comments__title{
    line-height: 52px;
}

.comments__item{
    width: 48%;
    background: var(--main-bg-color);
    padding: 30px 35px 24px;
}

.comments__item:nth-child(2){
    transform: translateY(52%);
}

.comments__item * {
    color: var(--white-color);
}

.comments__overall-ratings{
    display: flex;
    gap: 10px;
    margin: 20px 0 15px;
}

.comments__rating-points{
    display: flex;
    align-items: center;
    gap: 5px;
}

.comments__rating-point{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--active-color);
    overflow: hidden;
}

.comments__rating-progress{
    width: 100%;
    height: 100%;
    background: var(--active-color);
}

.comments__rating-point:last-child .comments__rating-progress{
    width: 50%;
}

.comments__overall-ratings-txt{
    font-size: calc(var(--fs-3-lvl) + 1px);
}

.comments__author{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 25px;
}

.comments__author-name{
    font-weight: 400;
    font-size: calc(var(--fs-2-lvl) + 2px);
    margin-bottom: 15px;
}

.comments__author-desc .comments__rating-points{
    margin-top: 15px;
}

.comments__mess-about{
    display: block;
    margin: 20px 0 13px;
    font-weight: 400;
    font-size: calc(var(--fs-2-lvl) + 1px);
}

.comments__mess-text{
    font-size: calc(var(--fs-3-lvl) + 1px);
    line-height: 28px;
    color: var(--sec-text-color);
}

.comments__rating-points--adams 
.comments__rating-point:last-child 
.comments__rating-progress {
    width: 0;
}

.comments__author-desc
.comments__rating-points{
    gap: 3px;
}

.comments__author-desc
.comments__rating-points
.comments__rating-point{
    width: 13px;
    height: 13px;
}